body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  background-color: #ffcf8f3;
}

svg {
  width: 26px;
  height: 26px;
}
a {
  text-decoration: none;
}
main {
  flex: 1;
}
footer {
  position: relative;
}
.navbar {
  display: flex;
  width: 100%;
  height: 72px;
  background-color: #f8f2ea;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
  height: 72px;
}
.instagram {
  display: flex;
  align-items: center;
  height: 72px;
}
.navbar-sv {
  display: flex;
  align-items: center;
  height: 72px;
}

#navbar-panel {
  position: fixed;
  right: -769px;
  width: 100%;
  height: 100%;
  top: 0;
  transition: right 0.3s ease;
  z-index: 101;
  background-color: rgb(255 241 223);
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 2px #f8e28d;
}
/*--------------------------------------------*/
.header-container {
  display: flex;
  width: 100%;
  height: 232px;
  background-color: black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url(/TOSTIX/Images/header-background1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*--------------------------------------------*/

.main-container {
  padding-top: 23px;
  padding-bottom: 23px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.main-container .item-1 {
  display: flex;
  width: 70px;
  height: 80px;
  border-radius: 5px;
  background-color: #f8f2ea;
  background-size: cover;
}

.item-1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 3px;
  background-color: #f8f2ea;
  background-size: cover;
  border: 1.4px solid #322c231f;
  border-radius: 5px;
}

h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: small;
  color: #5f5040;
  text-align: center;
}
.container-us {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #c7bdb1;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  padding-top: 40px;
  border-radius: 15px 15px 0px 0px;
}

.container-usx {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #c7bdb1;
  gap: 10px;
  padding-top: 10px;
  justify-content: center;
  padding-bottom: 40px;
  border-radius: 0px 0px 15px 15px;
}
.ys,
.gt,
.tel,
.wp {
  display: flex;
  width: 150px;
  height: 55px;
  background-color: #5f5040;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.container-main-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ys {
  color: #fff;
  background-color: #ea004b;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
}
.gt {
  display: flex;
  flex-direction: column;
  background-color: #007a4c;
  font-family: "Poppins", sans-serif;
}
.gt h6 {
  font-size: 17px;
  color: #eee;
}

.gt h5 span {
  color: #06c167;
}
.container-main-top {
  padding-top: 40px;
}
.tel {
  background-color: #2563eb;
  color: white;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}
.wp {
  background-color: #25d366;
  color: white;
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*-----------------------------------------*/
#container-menu-tostlar {
  display: none;
  flex-direction: column;
  background-color: #edd7c0;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  transform: translateY(15px) scale(0.98);
  transition: 0.35s ease;
}
#container-menus.active,
#container-menu-tostlar.active,
#container-drink.active,
#container-snack.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

#container-menus {
  display: none;
  flex-direction: column;
  background-color: #edd7c0;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  transform: translateY(15px) scale(0.98);
  transition: 0.35s ease;
  opacity: 0;
}
#container-drink {
  display: none;
  flex-direction: column;
  background-color: #edd7c0;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  transform: translateY(15px) scale(0.98);
  transition: 0.35s ease;
  opacity: 0;
}
#container-snack {
  display: none;
  flex-direction: column;
  background-color: #edd7c0;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  transform: translateY(15px) scale(0.98);
  transition: 0.35s ease;
  opacity: 0;
}

#container-menu-tostlar h2,
#container-menus h2,
#container-drink h2,
#container-snack h2 {
  padding-top: 10px;
  color: #5f5040;
  align-items: center;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.tost-menu {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.tost-item {
  display: flex;
  width: 100%;
  height: 65px;
  background-color: #f8f2ea;
  border-radius: 5px;
  justify-content: space-between;
}

.tost-item div h5 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 5px;
}

.tost-item div p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  padding-left: 5px;
  max-width: 220px;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: auto;
  background-color: #e2c6a9;
  margin: 13px 10px 13px 10px;
  border-radius: 7px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #433829;
}
svg.icon.icon-close {
}
.close-button {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  border: 0.4px solid rgb(89, 87, 87);
}

.container-panel {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 57%;
}

.icon-close {
  width: 10px;
  height: 10px;
}

.panel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  background-color: #938168;
  border-radius: 10px;
  color: white;
  box-shadow: -1px 2px 2px rgb(142, 139, 139);
}

.panel-item a {
  color: #fff;
}

.panel-item-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
}
.tel a,
.wp a,
.ys a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
}
.gt a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.gt h5 {
  color: black;
}
/*--------------------------------------------*/
.footer-container {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #f7f2eb;
  justify-content: center;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.devoloped {
  font-family: "Allura", cursive;
  font-weight: 500;
  font-size: 30px;
  color: #ff8c1a;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.line {
  display: block;
  flex: 1;
  height: 1px;
  background-color: #d9c1a6; /* Çizgi rengi */
  min-width: 120px;
}

.heart {
  color: #ff8c1a;
  font-size: 16px;
}
